@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

h1, h2, h3 {
  font-family: 'Avenir', sans-serif;
}
body {
  font-family: 'Avenir', sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Chrome, Safari and Opera */

}




.logocontainer {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
}

.logoimage {
  width: 64px;
  height: 64px;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

